@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;
    @apply bg-main-700;
  }
  .app {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 85px);
    overflow-x: auto;
    overflow-y: hidden;
  }
  .app-navbar{
    @apply h-[85px] bg-main-700 border-gray-200;
  }
  .app-logo {
    @apply max-h-[85px] object-cover transform scale-100;
  }
  .app-content {
    @apply w-full bg-appBackground overflow-auto bg-cover;
  }
  .app-sidebar {
    min-width: 202px;
    max-width: 202px;
    background-color: #ffffff;
    height: calc(100vh - 85px);
    @apply flex flex-col justify-between shrink-0 text-gray-500;
  }
  .sidebar-link{
    @apply text-[13px] pl-3 pr-1 py-2 flex items-center border-b border-grayNc;
  }
  .sidebar-link.active {
    @apply font-medium text-black bg-grayNc bg-opacity-80;
  }
  .sidebar-link.active-purple {
    @apply font-medium text-black bg-main-50;
  }
  .main-menu{
    @apply h-[85px] bg-main-700;
  }
  .button-nav-bar{
    @apply flex flex-col justify-center text-center items-center text-white hover:bg-indigo-900 h-full px-3;
  }
  .button-nav-bar--disabled {
    @apply flex flex-col justify-center text-center items-center text-white h-full px-3 opacity-30 cursor-auto;
  }
  .welcomeLogo {
    position: absolute;
    right: -40px;
    top: -10px;
  }
}

@layer components {
  .page {
    min-height: calc(100vh - 85px);
  }
  .btn {
    @apply bg-yellow h-9 rounded-full text-base text-white font-bold outline-none cursor-pointer px-4;
    @apply shadow-md;
    @apply hover:opacity-90;
    @apply transition-all;
    @apply disabled:opacity-50;
  }
  .btn.btn-icon {
    @apply flex items-center justify-center gap-2;
  }

  .btn.btn-white {
    @apply bg-white text-black;
  }
}

.selectConsultant {
  font-size: 14px;
}
.selectConsultant .px-2.w-72>span+div.bg-transparent {
  background-color: transparent;
  box-shadow: none;
}

.selectConsultant .px-2.w-72>span+div.border-0,
.selectConsultant .px-2.w-72>span+div.border-0:hover {
  border-width: 0px;
}