@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;
    @apply bg-main-700;
  }
  .app {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 85px);
    overflow-x: auto;
    overflow-y: hidden;
  }
  .app-navbar{
    @apply h-[85px] bg-main-700 border-gray-200;
  }
  .app-logo {
    @apply max-h-[85px] object-cover transform scale-100;
  }
  .app-content {
    @apply w-full bg-appBackground overflow-auto bg-cover;
  }
  .app-sidebar {
    min-width: 202px;
    max-width: 202px;
    background-color: #ffffff;
    height: calc(100vh - 85px);
    @apply flex flex-col justify-between shrink-0 text-gray-500;
  }
  .app-statusbar{
    @apply flex items-center justify-between fixed w-full z-50 bg-white;
    @apply h-[41px] text-[13px];
    max-width: calc(100% - 202px);
    padding-right: 15px;
  }
  .page-content{
    min-height: calc(100vh - 85px);
    padding-top: 41px;
  }
  .sidebar-link{
    @apply text-[13px] pl-3 pr-1 py-2 flex items-center border-b border-grayNc;
  }
  .sidebar-link.active {
    @apply font-medium text-black bg-grayNc bg-opacity-80;
  }
  .sidebar-link.active-purple {
    @apply font-medium text-black bg-main-50;
  }
  .main-menu{
    @apply h-[85px] bg-main-700;
  }
  .button-nav-bar{
    @apply flex flex-col justify-center text-center items-center text-white hover:bg-indigo-900 h-full px-3;
  }
  .button-nav-bar--disabled {
    @apply flex flex-col justify-center text-center items-center text-white h-full px-3 opacity-30 cursor-auto;
  }
  .welcomeLogo {
    position: absolute;
    right: -40px;
    top: -10px;
  }
}

@layer components {
  .page {
    min-height: calc(100vh - 85px);
  }
  .btn {
    @apply bg-yellow h-9 rounded-full text-base text-white font-bold outline-none cursor-pointer px-4;
    @apply shadow-md;
    @apply hover:opacity-90;
    @apply transition-all;
    @apply disabled:opacity-50;
  }
  .btn.btn-icon {
    @apply flex items-center justify-center gap-2;
  }

  .btn.btn-white {
    @apply bg-white text-black;
  }
}

body * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
  scrollbar-width: auto;
  scrollbar-color: #9f5d9b #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #9f5d9b;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

:root {
  --main-color: #693061;
  --secondary-color: #9F5D9B;
  --confirm-color: #0000ff;
  --cancel-color: #ff0000;
  --yellow: #E28A05;
  --blue: #056BE2;
  --aguamarina: #31FFFF;
}

.selectConsultant {
  font-size: 14px;
}
.selectConsultant .px-2.w-72>span+div.bg-transparent {
  background-color: transparent;
  box-shadow: none;
}

.selectConsultant .px-2.w-72>span+div.border-0,
.selectConsultant .px-2.w-72>span+div.border-0:hover {
  border-width: 0px;
}

.time-circle {
  width: 523px;
  height: 523px;
}
.circle-tempo-arrow {
  position: absolute;
  top: 254px;
  left: -15px;
}
.circle-time-pos-1 {
  position: absolute;
  top: 215px;
  left: 38px;
  transform: rotate(90deg);
  z-index: 1;
}
.circle-time-current-pos-1 {
  position: absolute;
  top: 216px;
  left: 45px;
  transform: rotate(90deg);
  z-index: 1;
}
.circle-time-pos-2 {
  position: absolute;
  top: 285px;
  left: 90px;
  transform: rotate(60deg);
  z-index: 1;
}
.circle-time-current-pos-2 {
  position: absolute;
  top: 282px;
  left: 98px;
  transform: rotate(60deg);
  z-index: 1;
}
.circle-time-pos-3 {
  position: absolute;
  top: 317px;
  left: 172px;
  transform: rotate(30deg);
  z-index: 1;
}
.circle-time-current-pos-3 {
  position: absolute;
  top: 314px;
  left: 174px;
  transform: rotate(30deg);
  z-index: 1;
}
.circle-time-pos-4 {
  position: absolute;
  top: 305px;
  left: 256px;
  transform: rotate(0deg);
  z-index: 1;
}
.circle-time-current-pos-4 {
  position: absolute;
  top: 305px;
  left: 256px;
  transform: rotate(0deg);
  z-index: 1;
}
.circle-time-pos-5 {
  position: absolute;
  top: 252px;
  left: 323px;
  transform: rotate(-30deg);
  z-index: 1;
}
.circle-time-current-pos-5 {
  position: absolute;
  top: 252px;
  left: 323px;
  transform: rotate(-30deg);
  z-index: 1;
}
.circle-time-pos-6 {
  position: absolute;
  top: 172px;
  left: 355px;
  transform: rotate(-60deg);
  z-index: 1;
}
.circle-time-current-pos-6 {
  position: absolute;
  top: 177px;
  left: 355px;
  transform: rotate(-60deg);
  z-index: 1;
}
.circle-time-pos-7 {
  position: absolute;
  top: 88px;
  left: 347px;
  transform: rotate(-90deg);
  z-index: 1;
}
.circle-time-current-pos-7 {
  position: absolute;
  top: 94px;
  left: 344px;
  transform: rotate(-90deg);
  z-index: 1;
}
.circle-time-pos-8 {
  position: absolute;
  top: 19px;
  left: 295px;
  transform: rotate(-120deg);
  z-index: 1;
}
.circle-time-current-pos-8 {
  position: absolute;
  top: 26px;
  left: 293px;
  transform: rotate(-120deg);
  z-index: 1;
}
.circle-time-pos-9 {
  position: absolute;
  top: -14px;
  left: 216px;
  transform: rotate(210deg);
  z-index: 1;
}
.circle-time-current-pos-9 {
  position: absolute;
  top: -6px;
  left: 216px;
  transform: rotate(210deg);
  z-index: 1;
}
.circle-time-pos-10 {
  position: absolute;
  top: -3px;
  left: 128px;
  transform: rotate(180deg);
  z-index: 1;
}
.circle-time-current-pos-10 {
  position: absolute;
  top: 6px;
  left: 132px;
  transform: rotate(180deg);
  z-index: 1;
}
.circle-time-pos-11 {
  position: absolute;
  top: 48px;
  left: 61px;
  transform: rotate(150deg);
  z-index: 1;
}
.circle-time-current-pos-11 {
  position: absolute;
  top: 57px;
  left: 65px;
  transform: rotate(150deg);
  z-index: 1;
}
.circle-time-pos-12 {
  position: absolute;
  top: 131px;
  left: 27px;
  transform: rotate(120deg);
  z-index: 1;
}
.circle-time-current-pos-12 {
  position: absolute;
  top: 134px;
  left: 36px;
  transform: rotate(120deg);
  z-index: 1;
}
.time-circle-year {
  position: absolute;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  left: 220px;
  top: 220px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 70px;
}
.time-circle-w {
  position: absolute;
  font-size: 18px;
  color: #000000;
  width: 32px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.time-circle-w.w-1 {
  left: 10px;
  top: 255px;
}
.time-circle-w.w-2 {
  left: 15px;
  top: 285px;
}
.time-circle-w.w-3 {
  left: 25px;
  top: 315px;
}
.time-circle-w.w-4 {
  left: 35px;
  top: 345px;
}
.time-circle-w.w-5 {
  left: 50px;
  top: 370px;
}
.time-circle-w.w-6 {
  left: 70px;
  top: 395px;
}
.time-circle-w.w-7 {
  left: 88px;
  top: 415px;
}
.time-circle-w.w-8 {
  left: 112px;
  top: 435px;
}
.time-circle-w.w-9 {
  left: 140px;
  top: 451px;
}
.time-circle-w.w-10 {
  left: 170px;
  top: 463px;
}
.time-circle-w.w-11 {
  left: 200px;
  top: 470px;
}
.time-circle-w.w-12 {
  left: 230px;
  top: 475px;
}
.time-circle-w.w-13 {
  right: 230px;
  top: 475px;
}
.time-circle-w.w-14 {
  right: 200px;
  top: 470px;
}
.time-circle-w.w-15 {
  right: 170px;
  top: 463px;
}
.time-circle-w.w-16 {
  right: 140px;
  top: 451px;
}
.time-circle-w.w-17 {
  right: 112px;
  top: 435px;
}
.time-circle-w.w-18 {
  right: 88px;
  top: 415px;
}
.time-circle-w.w-19 {
  right: 70px;
  top: 395px;
}
.time-circle-w.w-20 {
  right: 50px;
  top: 370px;
}
.time-circle-w.w-21 {
  right: 35px;
  top: 345px;
}
.time-circle-w.w-22 {
  right: 25px;
  top: 315px;
}
.time-circle-w.w-23 {
  right: 15px;
  top: 285px;
}
.time-circle-w.w-24 {
  right: 10px;
  top: 255px;
}
.time-circle-w.w-25 {
  right: 10px;
  bottom: 265px;
}
.time-circle-w.w-26 {
  right: 15px;
  bottom: 295px;
}
.time-circle-w.w-27 {
  right: 25px;
  bottom: 325px;
}
.time-circle-w.w-28 {
  right: 35px;
  bottom: 355px;
}
.time-circle-w.w-29 {
  right: 50px;
  bottom: 380px;
}
.time-circle-w.w-30 {
  right: 70px;
  bottom: 405px;
}
.time-circle-w.w-31 {
  right: 88px;
  bottom: 425px;
}
.time-circle-w.w-32 {
  right: 112px;
  bottom: 445px;
}
.time-circle-w.w-33 {
  right: 140px;
  bottom: 461px;
}
.time-circle-w.w-34 {
  right: 170px;
  bottom: 473px;
}
.time-circle-w.w-35 {
  right: 200px;
  bottom: 480px;
}
.time-circle-w.w-36 {
  right: 230px;
  bottom: 485px;
}
.time-circle-w.w-37 {
  left: 230px;
  bottom: 485px;
}
.time-circle-w.w-38 {
  left: 200px;
  bottom: 480px;
}
.time-circle-w.w-39 {
  left: 170px;
  bottom: 473px;
}
.time-circle-w.w-40 {
  left: 140px;
  bottom: 461px;
}
.time-circle-w.w-41 {
  left: 112px;
  bottom: 445px;
}
.time-circle-w.w-42 {
  left: 88px;
  bottom: 425px;
}
.time-circle-w.w-43 {
  left: 70px;
  bottom: 405px;
}
.time-circle-w.w-44 {
  left: 50px;
  bottom: 380px;
}
.time-circle-w.w-45 {
  left: 35px;
  bottom: 355px;
}
.time-circle-w.w-46 {
  left: 25px;
  bottom: 325px;
}
.time-circle-w.w-47 {
  left: 15px;
  bottom: 295px;
}
.time-circle-w.w-48 {
  left: 10px;
  bottom: 265px;
}
.time-circle-pm {
  position: absolute;
  font-size: 18px;
  color: #000000;
  width: 64px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.time-circle-pm.m-1 {
  left: 75px;
  top: 270px;
}
.time-circle-pm.m-2 {
  left: 110px;
  top: 335px;
}
.time-circle-pm.m-3 {
  left: 175px;
  top: 375px;
}
.time-circle-pm.m-4 {
  right: 170px;
  top: 370px;
}
.time-circle-pm.m-5 {
  right: 95px;
  top: 325px;
}
.time-circle-pm.m-6 {
  right: 55px;
  top: 255px;
}
.time-circle-pm.m-7 {
  right: 50px;
  bottom: 265px;
}
.time-circle-pm.m-8 {
  right: 85px;
  bottom: 335px;
}
.time-circle-pm.m-9 {
  right: 155px;
  bottom: 380px;
}
.time-circle-pm.m-10 {
  left: 140px;
  bottom: 365px;
}
.time-circle-pm.m-11 {
  left: 70px;
  bottom: 325px;
}
.time-circle-pm.m-12 {
  left: 40px;
  bottom: 250px;
}
.time-quarter {
  position: absolute;
  font-size: 18px;
  color: #000000;
  width: 32px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.q-1 {
  left: 165px;
  top: 260px;
}
.q-2 {
  left: 185px;
  top: 300px;
}
.q-3 {
  left: 225px;
  top: 320px;
}
.q-4 {
  right: 225px;
  top: 320px;
}
.q-5 {
  right: 185px;
  top: 300px;
}
.q-6 {
  right: 165px;
  top: 260px;
}
.q-7 {
  right: 165px;
  bottom: 270px;
}
.q-8 {
  right: 185px;
  bottom: 310px;
}
.q-9 {
  right: 225px;
  bottom: 330px;
}
.q-10 {
  left: 225px;
  bottom: 330px;
}
.q-11 {
  left: 185px;
  bottom: 310px;
}
.q-12 {
  left: 165px;
  bottom: 270px;
}
.m-1 {
  margin: .25rem
}
.m-10 {
  margin: 3rem
}
.m-11 {
  margin: 2.75rem;
}
.m-12 {
  margin: 2.5rem
}
.m-2 {
  margin: .5rem
}
.m-3 {
  margin: .75rem
}
.m-4 {
  margin: 1rem
}
.m-5 {
  margin: 1.25rem
}
.m-6 {
  margin: 1.5rem
}
.m-7 {
  margin: 1.75rem
}
.m-8 {
  margin: 2rem
}
.m-9 {
  margin: 2.25rem
}

.inner-shadow {
  -webkit-box-shadow: inset 0 -4px 4px 0 rgb(0, 0, 0, .25);
  box-shadow: inset 0 -4px 4px 0 rgb(0, 0, 0, .25);
}

.inner-shadow-gold {
  -webkit-box-shadow: inset 0 -4px 4px 0 rgb(0, 0, 0, .25), 0 -0 5px 4px #FF9901;
  box-shadow: inset 0 -4px 4px 0 rgb(0, 0, 0, .25), 0 0 5px 4px #FF9901;
}

.name-energy:after {
  position: absolute;
  content: attr(data-name);
  right: -20px;
  font-size: 14px;
  color: var(--main-color);
  font-weight: 900;
  width: 35px;
  text-align: center
}

#pinaculo {
  /* min-height: 840px; */
  max-width: 525px;
  width: 100%;
  margin: 0 auto;
}

#pinaculo.small {
  font-size: 12px;
}

#pinaculo-letters {
  max-width: 540px;
  padding-bottom: 166%;
}

.pinncle-letter {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  width: 13%;
  height: 8%;
}

.pinncle-letter[data-letter="A"] {
  top: 38%;
  left: 1%;
}

.pinncle-letter[data-letter="B"] {
  font-size: 52px;
  top: 36%;
  left: 29%;
  width: 21%;
  height: 13%;
}

@media (max-width: 1430px) {
  #pinaculo.small .pinncle-letter {
      font-size: 17px;
  }

  #pinaculo.small .pinncle-letter[data-letter="B"] {
      font-size: 27px;
  }
}

.pinncle-letter[data-letter="C"] {
  top: 38%;
  left: 65%;
}

.pinncle-letter[data-letter="D"] {
  top: 38%;
  left: 86%;
}

.pinncle-letter[data-letter="E"] {
  top: 24.2%;
  left: 18.5%;
}

.pinncle-letter[data-letter="I"] {
  top: 24.2%;
  left: 33%;
}

.pinncle-letter[data-letter="F"] {
  top: 24.2%;
  left: 48%;
}

.pinncle-letter[data-letter="J"] {
  top: 24.2%;
  left: 76%;
}

.pinncle-letter[data-letter="G"] {
  top: 12.2%;
  left: 33%;
}

.pinncle-letter[data-letter="H"] {
  top: 0%;
  left: 33%;
}

.pinncle-letter[data-letter="K"] {
  top: 53%;
  left: 18.5%;
}

.pinncle-letter[data-letter="O"] {
  top: 53%;
  left: 33%;
}

.pinncle-letter[data-letter="L"] {
  top: 53%;
  left: 48%;
}

.pinncle-letter[data-letter="M"] {
  top: 64.5%;
  left: 33%;
}

.pinncle-letter[data-letter="W"] {
  top: 64.5%;
  left: 1%;
}

.pinncle-letter[data-letter="N"] {
  left: 33%;
  top: 76.6%;
}

.pinncle-letter[data-letter="P"] {
  top: 76.6%;
  left: 14%;
}

.pinncle-letter[data-letter="Q"] {
  top: 88.3%;
  left: 18.5%;
}

.pinncle-letter[data-letter="R"] {
  top: 88.3%;
  left: 33%;
}

.pinncle-letter[data-letter="S"] {
  top: 88.3%;
  left: 48%;
}

.pinnacle-absents {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  width: 25%;
  max-width: 25%;
  overflow: hidden;
  height: 13%;
  top: 83%;
  left: 71%;
  text-align: center;
}

#pinaculo.small .pinnacle-absents {
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
}

.section-wrap{
  background: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(0,0,0,.4);
  border-top: 0;
  overflow: hidden;
}


.text-main {
  color: var(--main-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-main-900 {
  color: #320033;
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.border-separator {
  border-color: #E0D8CC;
}

.border-secondary {
  border-color: var(--secondary-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.hover:bg-secondary:hover {
  background-color: var(--secondary-color);
}

.bg-main-40 {
  background-color: rgb(91, 43, 90, .40);
}

.bg-main-30 {
  background-color: rgb(50, 0, 51, .30);
}

.bg-main-15 {
  background-color: rgb(50, 0, 51, .15);
}

.border-main {
  border-color: var(--main-color);
}

.bg-yellow {
  background-color: var(--yellow);
}

.btn-yellow {
  border: solid 2px #E28A05;
  color: #E28A05
}

.btn-blue {
  border: solid 2px #5DC4FE;
  color: #5DC4FE
}

.btn-green {
  border: solid 2px #51A133;
  color: #51A133
}

.bg-gold {
  background-color: #e0ba80;
}

.bg-gold-30 {
  background-color: #F5E2A7;
}

.bg-gold-50 {
  background-color: #E7B62C;
}

.bg-gold-week {
  background-color: #F1C584;
}

.bg-gold-10 {
  background-color: #FBEDD9;
}

.bg-gold-5 {
  background-color: #FFFDEA;
}

.border-gold {
  border-color: #E3AC5A;
}

.bg-gold-40 {
  background-color: rgb(227, 172, 90, 0.4);
}

.bg-gold-15 {
  background-color: rgb(227, 172, 90, 0.15);
}

.bg-gold {
  background-color: #e3ac5a;
}

.bg-blue {
  background-color: var(--blue);
}

.text-blue {
  color: var(--blue);
}

.text-gray {
  color: #7E7E7E;
}

.bg-blue {
  background-color: #004AAD;
}

.text-blue {
  color: #004AAD;
}

.border-blue {
  border-color: #004AAD;
}

.bg-pink {
  background-color: #DF4545;
}

.text-pink {
  color: #DF4545;
}

.border-pink {
  border-color: #DF4545;
}

.bg-green {
  background-color: #51A133;
}

.text-green-table {
  color: #51A133;
}

.border-green {
  border-color: #51A133;
}

.bg-blue-30 {
  background-color: rgba(5, 107, 226, 0.3);
}

.border-blue {
  border-color: var(--blue);
}

.bg-blue-week {
  background-color: #C3E9EA;
}

.bg-ble-week-temp {
  background-color: #52B8C8;
}

.border-blue-week {
  border-color: #52B8C8;
}

.bg-aguamarina-30 {
  background-color: var(--aguamarina);
}

.border-aguamarina {
  border-color: #0FC1C1;
}

.bg-purple-30 {
  background-color: #D8C7EB;
}

.bg-purple-35 {
  background-color: #ccbacb;
}

.bg-purple-50 {
  background-color: #A385A3;
}

.border-purple-35 {
  border-bottom-color: #ccbacb !important;
}

.border-purple {
  border-color: #B28FD6;
}

.bg-green-s {
  background-color: #51A133;
}

.bg-green {
  background-color: #C2DEB8;
}

.bg-pink {
  background: #EDD7EB;
}

.bg-gray {
  background: #EDEDED;
}

.text-green {
  color: #C2DEB8;
}

.bg-green-30 {
  background-color: #BEE1D1;
}

.bg-green-50 {
  background-color: #A8D099;
}

.bg-green-70 {
  background-color: #66AB8E;
}

.border-green {
  border-color: #51A133;
}

.bg-red {
  background-color: #f4bebe;
}

.bg-red-day {
  background-color: #FA8072;
}

.bg-red-50 {
  background-color: rgb(185, 82, 83, 0.5);
}

.bg-red-80 {
  background-color: rgb(185, 82, 83, 0.8);
}

.bg-group {
  background-color: #5DC4FE;
}

.bg-active-radial,
.pinnacle-wrap.bg-active-radial {
  background: rgb(255, 255, 255);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.bg-active {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.text-red {
  color: #de6363;
}

.border-red {
  border-color: #de6363;
}

.border-b-3 {
  border-bottom: 3px solid;
}

.bg-gray-30 {
  background-color: #E2E2E2;
}

.bg-gray-10 {
  background-color: #F6F6F6;
}

.text-10 {
  font-size: 10px
}

.text-11 {
  font-size: 11px
}

.text-13 {
  font-size: 13px
}